export ZOO_LOG_DIR=/var/log/zookeeper
export SERVER_JVMFLAGS="-Xmx<%= node[:zk_heapsize] %>M -Xms<%= node[:zk_heapsize] %>M -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=10888 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false"
