# up max client connections
maxClientCnxns=50
# the length of a single tick in milliseconds
tickTime=2000
# the location where ZooKeeper will store the in-memory database snapshots
dataDir=/database/zookeeper/data
# where transaction log are written to
dataLogDir=/database/zookeeper/txlogs
# Amount of time, in ticks, to allow followers to connect and sync to a leader
initLimit=10
# Amount of time, in ticks, to allow followers to sync with ZooKeeper
syncLimit=10
# the port to listen for client connections
# in fw, open up this port to all clients that connect to it
clientPort=2181
# servers making up the ZooKeeper ensemble
# in fw, only need to open ports 2888 and 3888 amongst servers listed below
<% @zookeeper.each_with_index do |hostname, index| %>
<% indexo = index + 1 %>
<%= "server.#{indexo}=#{hostname}:2888:3888" %>
<% end %>
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval=1
~
